/*Asterisk wildcard selctor to override default styles added by the browser */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*Generic project styles*/
    color: #3a3a3a;
}

/*Header*/
header {
    background-color: aqua;

}

/*Main content*/
main {
    background-color: blueviolet;
    /*Push footer down */
    flex: 1 0 auto;
}

/*Footer*/
footer {
    background-color: darkgoldenrod;
}